*.o
-/lib/Makefile.am
.deps/
/.pc/
/.version
/INSTALL
/VERSION
/aclocal.m4
/autom4te.cache/
/build-aux
/config.h
/config.hin
/config.hin~
/config.log
/config.status
/configure
/lib
/m4
/patch-*.tar.bz2
/patch-*.tar.bz2.sig
/patch-*.tar.gz
/patch-*.tar.gz.sig
/patch-*.tar.xz
/patch-*.tar.xz.sig
/src/patch
/stamp-h1
Makefile
Makefile.in
build-aux
