*.log
*.o
*.trs
*~
.deps/
/.pc/
/.version
/ChangeLog
/GNUmakefile
/ID
/INSTALL
/VERSION
/[0-9]*.patch
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.cache
/config.h
/config.hin
/config.log
/config.status
/configure
/doc/
/lib/
!/lib/Makefile.am
/m4/*.m4
/m4/.gitignore
!/m4/setmode.m4
!/m4/xattr.m4
/maint.mk
/patch-*.tar.*
/src/patch
/stamp-h1
Makefile
Makefile.in
TAGS
